@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Regular-Italic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Medium.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-SemiBold.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Bold.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

::-moz-selection {
  color: #a855f7;
  background: #1e293b;
}
::selection {
  color: #a855f7;
  background: #1e293b;
}

::-webkit-scrollbar {
  width: 12px;
  padding: 0 2px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
  width: 10px;
}

.splide_pagination {
  bottom: -30px !important;
}
.splide__progress {
  margin-top: 12px;
}
.splide__progress__bar {
  border-radius: 16px;
}
